  html {
    height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#141e30, #243b55);
  height: 100%;
}

#rocket {
  display: flex;
  position: absolute;
  width: 100px;
  left: 50%;
  margin-left: -40px;
  margin-bottom: -40px;
  top: 20%;
  z-index: -2;
} 

.artboard {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: solid #f8f8f8 2px;
  margin: 0 auto;
  margin-top: 15vh;
  overflow: hidden;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  backface-visibility: none;
  background: radial-gradient(circle at bottom, rgba(31, 10, 109, 0.3) 0%, rgba(1, 34, 38, 0) 60%);
}

.star {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 37%;
  left: 31%;
}

.star::before,
.star::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 6px 3px rgba(255, 255, 255, 0.15);
  animation: sparkle 1s ease-in-out infinite alternate;
}

.star::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.star::before {
  transform: translate(-50%, -50%);
}

.star:nth-child(2) {
  top: 20%;
  left: 23%;
  transform: scale(1.4);
}

.star:nth-child(3) {
  top: 28%;
  left: 64%;
  transform: scale(0.7);
}

@keyframes sparkle {
  from {
    height: 10px;
  }
  to {
    height: 3px;
  }
}
.smoke {
  position: absolute;
  width: 400%;
  height: 400%;
  bottom: -250%;
  left: 50%;
  background-color: #e8e6ef;
  transform: translateX(-50%) scale(0.25);
}

.smoke-bubble {
  position: absolute;
  background-color: #e8e6ef;
  border-radius: 50%;
  animation: smoke infinite 7s alternate ease-in-out;
}

.smoke-bubble:nth-child(1) {
  left: 1%;
  top: -22%;
  width: 20%;
  height: 20%;
  animation-duration: 5s;
}

.smoke-bubble:nth-child(2) {
  right: 1%;
  top: -22%;
  width: 20%;
  height: 20%;
  animation-duration: 5s;
}

.smoke-bubble:nth-child(3) {
  left: -6%;
  top: -28%;
  width: 15%;
  height: 15%;
  animation-duration: 3s;
}

.smoke-bubble:nth-child(4) {
  right: -6%;
  top: -28%;
  width: 15%;
  height: 15%;
  animation-duration: 3s;
}

.smoke-bubble:nth-child(5) {
  left: 12%;
  top: -11%;
  width: 20%;
  height: 20%;
  animation-duration: 6s;
}

.smoke-bubble:nth-child(6) {
  right: 12%;
  top: -11%;
  width: 20%;
  height: 20%;
  animation-duration: 6s;
}

.smoke-bubble:nth-child(7) {
  left: 28%;
  top: -7%;
  width: 14%;
  height: 14%;
  animation-duration: 3s;
}

.smoke-bubble:nth-child(8) {
  right: 28%;
  top: -7%;
  width: 14%;
  height: 14%;
  animation-duration: 3s;
}

.smoke-bubble:nth-child(9) {
  left: 35%;
  top: -6%;
  width: 19%;
  height: 19%;
  animation-duration: 5s;
}

.smoke-bubble:nth-child(10) {
  right: 35%;
  top: -6%;
  width: 19%;
  height: 19%;
  animation-duration: 5s;
}

.smoke-bubble:nth-child(11) {
  left: -9%;
  top: -19%;
  width: 30%;
  height: 30%;
  animation: none;
}

.smoke-bubble:nth-child(12) {
  right: -9%;
  top: -19%;
  width: 30%;
  height: 30%;
  animation: none;
}

@keyframes smoke {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.2);
  }
}
.fire {
  top: 67%;
  z-index: -4;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  background-color: #00ffea;
  transform: rotate(135deg);
  margin-top: 20px;
  animation: flicker infinite 1s alternate ease-in-out;
}

.fire:after {
  content: "";
  top: 5px;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  background-color: #dafffe;
}

@keyframes flicker {
  0% {
    transform: rotate(135deg) scale(0.8);
    box-shadow: 0 0 17px 10px rgba(165, 238, 224, 0.5);
  }
  25% {
    box-shadow: 0 0 17px 5px rgba(165, 238, 224, 0.5);
  }
  50% {
    box-shadow: 0 0 17px 7px rgba(165, 238, 224, 0.5);
  }
  75% {
    box-shadow: 0 0 17px 5px rgba(165, 238, 224, 0.5);
  }
  100% {
    box-shadow: 0 0 17px 10px rgba(165, 238, 224, 0.5);
  }
}
.takeoff {
  z-index: -4;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 7%;
  height: 100%;
  top: 67%;
  background-image: linear-gradient(to right, #18f4a3 0%, #dafffe 25%, #00ffea 50%, #dafffe 75%, #18f4a3 100%);
}

.shake {
  animation: shake 0.2s infinite cubic-bezier(0.36, 0.07, 0.19, 0.97) alternate;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(-1px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}
.shootingstar {
  position: absolute;
  width: 3px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 6px 3px rgba(255, 255, 255, 0.15);
  background-color: #fff;
  z-index: -2;
  animation: shooting 10s infinite ease;
}

.shootingstar:nth-child(1) {
  left: 262px;
  top: 244px;
  animation-delay: calc(-400s / 1);
}

.shootingstar:nth-child(2) {
  left: 187px;
  top: 300px;
  animation-delay: calc(-400s / 2);
}

.shootingstar:nth-child(3) {
  left: 238px;
  top: 13px;
  animation-delay: calc(-400s / 3);
}

.shootingstar:nth-child(4) {
  left: 158px;
  top: 270px;
  animation-delay: calc(-400s / 4);
}

.shootingstar:nth-child(5) {
  left: 295px;
  top: 167px;
  animation-delay: calc(-400s / 5);
}

.shootingstar:nth-child(6) {
  left: 295px;
  top: 237px;
  animation-delay: calc(-400s / 6);
}

.shootingstar:nth-child(7) {
  left: 142px;
  top: 223px;
  animation-delay: calc(-400s / 7);
}

.shootingstar:nth-child(8) {
  left: 198px;
  top: 104px;
  animation-delay: calc(-400s / 8);
}

.shootingstar:nth-child(9) {
  left: 126px;
  top: 23px;
  animation-delay: calc(-400s / 9);
}

.shootingstar:nth-child(10) {
  left: 200px;
  top: 288px;
  animation-delay: calc(-400s / 10);
}

.shootingstar:nth-child(11) {
  left: 56px;
  top: 212px;
  animation-delay: calc(-400s / 11);
}

.shootingstar:nth-child(12) {
  left: 110px;
  top: 20px;
  animation-delay: calc(-400s / 12);
}

.shootingstar:nth-child(13) {
  left: 137px;
  top: 84px;
  animation-delay: calc(-400s / 13);
}

.shootingstar:nth-child(14) {
  left: 240px;
  top: 142px;
  animation-delay: calc(-400s / 14);
}

.shootingstar:nth-child(15) {
  left: 166px;
  top: 177px;
  animation-delay: calc(-400s / 15);
}

.shootingstar:nth-child(16) {
  left: 23px;
  top: 59px;
  animation-delay: calc(-400s / 16);
}

.shootingstar:nth-child(17) {
  left: 210px;
  top: 214px;
  animation-delay: calc(-400s / 17);
}

.shootingstar:nth-child(18) {
  left: 293px;
  top: 100px;
  animation-delay: calc(-400s / 18);
}

.shootingstar:nth-child(19) {
  left: 89px;
  top: 221px;
  animation-delay: calc(-400s / 19);
}

.shootingstar:nth-child(20) {
  left: 7px;
  top: 189px;
  animation-delay: calc(-400s / 20);
}

.shootingstar:nth-child(21) {
  left: 89px;
  top: 200px;
  animation-delay: calc(-400s / 21);
}

.shootingstar:nth-child(22) {
  left: 87px;
  top: 40px;
  animation-delay: calc(-400s / 22);
}

.shootingstar:nth-child(23) {
  left: 103px;
  top: 206px;
  animation-delay: calc(-400s / 23);
}

.shootingstar:nth-child(24) {
  left: 271px;
  top: 228px;
  animation-delay: calc(-400s / 24);
}

.shootingstar:nth-child(25) {
  left: 198px;
  top: 181px;
  animation-delay: calc(-400s / 25);
}

.shootingstar:nth-child(26) {
  left: 284px;
  top: 113px;
  animation-delay: calc(-400s / 26);
}

.shootingstar:nth-child(27) {
  left: 84px;
  top: 192px;
  animation-delay: calc(-400s / 27);
}

.shootingstar:nth-child(28) {
  left: 225px;
  top: 48px;
  animation-delay: calc(-400s / 28);
}

.shootingstar:nth-child(29) {
  left: 149px;
  top: 266px;
  animation-delay: calc(-400s / 29);
}

.shootingstar:nth-child(30) {
  left: 194px;
  top: 135px;
  animation-delay: calc(-400s / 30);
}

@keyframes shooting {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(600px);
  }
}